.blogs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .blog {
    border-radius: 5px;
    overflow: hidden;

    &-main {
      a {
        transition: all 2s ease-out;
        &:hover {
          text-decoration: underline;
        }
        h3 {
          margin: 1rem 0 0.5rem;
        }
      }

      .author {
        display: flex;
        align-items: center;
        margin: 2rem 0 1rem;
        line-height: 1.4;

        &-img {
          width: 40px;
          height: 40px;
          margin-right: 1rem;
          border: 1px solid $primary-color;
          border-radius: 50%;
          overflow: hidden;
          background: url('../img/author.jpg') no-repeat center center / cover;
        }
      }
    }
  }
}
